.cart {
  display: flex;
  gap: 50px;
}

.items {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 500px;
  height: 900px;
  border: 1px solid black;
  padding: 15px 10px;
  font-size: 20px;
}

.item {
  display: flex;
  justify-content: space-between;
}

.item-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.item-img {
  max-width: 35px;
  max-height: 35px;
}

.edit {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.edit button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 24px;
  padding: 5px;
  background-color: white;
  border: 2px solid black;
  height: 35px;
  width: 35px;
}

.edit button:hover {
  border: 2px dashed black;
}

.delete img {
  height: 25px;
  width: 25px;
}

.checkout {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 15px 10px;
  width: 300px;
  max-height: 200px;
}

.checkout p {
  display: flex;
  justify-content: space-between;
}

.price {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-bottom: 1px solid rgb(226, 226, 226);
  padding-bottom: 10px;
}

.total p {
  font-weight: bold;
  padding: 10px 0px;
}

.place-order {
  margin: 10px 0px;
  padding: 15px 10px;
  font-size: 22px;
  font-weight: bold;
  background-color: white;
  border: 2px solid black;
}

.place-order:hover {
  border: 2px dashed black;
}