.product {
  display: flex;
  gap: 60px;
  width: 1400px;
}

.product-img {
  max-height: 670px;
  max-width: 600px;
}

.product-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-main {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-bottom: 1px solid rgb(226, 226, 226);
  padding-bottom: 10px;
}

.product-title {
  font-size: 42px;
}

.product-price {
  font-weight: bold;
  font-size: 30px;
}

.product-rating {
  font-size: 20px;
}

.product-color,
.product-size {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  padding: 15px 0px;
  border-bottom: 1px solid rgb(226, 226, 226);
}

.product-color .button-container button {
  border-radius: 50%;
}

.button-container {
  display: flex;
  gap: 20px;
  margin-top: 10px;
}

.button-container button {
  font-weight: bold;
  background-color: white;
  border: 2px solid black;
  width: 45px;
  height: 45px;
}

.button-container button:hover {
  border: 2px dashed black;
}

.add-cart {
  font-weight: bold;
  font-size: 16px;
  padding: 15px;
  margin: 40px 0px;
  background-color: white;
  border: 2px solid black;
  width: 100%;
  height: 50px;
}

.add-cart:hover {
  border: 2px dashed black;
}

.desc-title {
  font-weight: bold;
  font-size: 24px;
  border-bottom: 2px solid black;
}